.beautiful.alert {
  border-width:1px;
  background-image:none;
  border-color:transparent;
  border-radius:0px;
  box-shadow:none;
}

.alert.alert-danger.beautiful {
  background-color:#fbe1e3;
  border-color:#fbe1e3;
  color:#e73d4a;
}

